@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto-medium.woff2') format('woff2'),
         url('../fonts/roboto-medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
font-family: 'Roboto';
src: url('../fonts/roboto-light.woff2') format('woff2'),
        url('../fonts/roboto-light.ttf') format('truetype');
font-weight: 200;
font-style: normal;
}