$mintBlue: #00bfa5;
$DmintBlue: #009688;
$textColor: #455a64;
$bg: #efebe0;
$Beige: #faf8f0;
$Grey: #efeee9;
$Red: #e44845;

// resolutions
// $laptop: 992px;
$screen1280: 1280px;
$tablets: 768px;
$phones: 480px;
$mphones: 320px;
$allheight: 755px;

$minHeight: 650px;
