header.header
    .header__top
        ul.socials
            li.socials__items
                a.socials__link(href="#")
                    svg.socials__svg.header--social-svg
                        use(xlink:href="images/sprites/symbol/sprite.svg#vk")
            li.socials__items
                a.socials__link(href="#")
                    svg.socials__svg.header--social-svg
                        use(xlink:href="images/sprites/symbol/sprite.svg#github")
            li.socials__items
                a.socials__link(href="#")
                    svg.socials__svg.header--social-svg
                        use(xlink:href="images/sprites/symbol/sprite.svg#in")
        button.nav-btn
            svg.nav-btn__svg
                use(xlink:href="images/sprites/symbol/sprite.svg#hamburger")
    .header__center
        .author-info
            .welkome__img
                .welkome__pic
                        img.welkome__ava(src="images/img/avatar2.jpg")
            h1 Олег Снига
            p Личный сайт веб разработчика
    .header__bottom
        a.arrow-down__link(href="#")
            svg.arrow-down__svg
                use(xlink:href="images/sprites/symbol/sprite.svg#arrow_down")
//- .triangles
//-     .triangles__left
//-     .triangles__right