header.header
    .header__top
        ul.socials
            li.socials__items
                a.socials__link(href="#")
                    svg.socials__svg
                        use(xlink:href="images/sprites/sprite.svg#vk")
            li.socials__items
                a.socials__link(href="#")
                    svg.socials__svg
                        use(xlink:href="images/sprites/sprite.svg#github")
            li.socials__items
                a.socials__link(href="#")
                    svg.socials__svg
                        use(xlink:href="images/sprites/sprite.svg#in")
        button.nav-btn
            img.nav-btn__img(src="images/svg/hamburger.svg", alt="menu")
    .header__center
        .author-info
            .welkome__img
                .welkome__pic
                        img.welkome__ava(src="images/img/avatar2.jpg")
            h1 Олег Снига
            p Личный сайт веб разработчика
    .header__bottom