.preloader
    .preloader__cont
        .preloader__circle.preloader__circle-1
        .preloader__circle.preloader__circle-2
        .preloader__circle.preloader__circle-3
        span.preloader__percent 0%