section.slider
    .slider__left
        .slider__cont
            h2.sub-titel Сайт школы онлайн<br>образования
            .slider__desc html, Css, Javascript
            a.slider__main-link(href="#") Посмотреть сайт
                svg.slider__main-link__svg
                    use(xlink:href="images/sprites/symbol/sprite.svg#link")
    .slider__right
        .slider__view-sait
            img.slider__big-img(src="images/works/work2-1.png")
        .slider__btn
            .slider__btn-left(style="background-image: url('images/works/work2-2.png');")
                a.slider__link(href="#")
                    svg.slider__link__svg
                        use(xlink:href="images/sprites/symbol/sprite.svg#portf_arrow_down")
            .slider__btn-right(style="background-image: url('images/works/work2-3.png');")
                a.slider__link(href="#")
                    svg.slider__link__svg
                        use(xlink:href="images/sprites/symbol/sprite.svg#portf_arrow_up")