section.slider
  .slider__left
    button.slider__btn
      svg.slider__arrow-left
        use(xlink:href="images/sprites/symbol/sprite.svg#arrow_down")
  .slider__center
    ul.slider__list
      li.slider__items.slider--active
        .slider__image
          img.slider__pic(src="images/works/work-1.png" alt="Пример работы")
        .slider__info
          h2.sub-title.sub-title--slider Сайт школы онлайн образования
          .slider__info-text html, Css, Javascript
          a.slider__main-link(href="#",target="blanc") Посмотреть сайт
            svg.slider__main-link__svg
              use(xlink:href="images/sprites/symbol/sprite.svg#link")
      li.slider__items
        .slider__image
          img.slider__pic(src="images/works/work-2.png" alt="Пример работы")
        .slider__info
          h2.sub-title.sub-title--slider Сайт школы онлайн образования
          .slider__info-text html, Css, Javascript
          a.slider__main-link(href="#",target="blanc") Посмотреть сайт
            svg.slider__main-link__svg
              use(xlink:href="images/sprites/symbol/sprite.svg#link")
      li.slider__items
        .slider__image
          img.slider__pic(src="images/works/work-3.png" alt="Пример работы")
        .slider__info
          h2.sub-title.sub-title--slider Сайт школы онлайн образования
          .slider__info-text html, Css, Javascript
          a.slider__main-link(href="#",target="blanc") Посмотреть сайт
            svg.slider__main-link__svg
              use(xlink:href="images/sprites/symbol/sprite.svg#link")
      li.slider__items
        .slider__image
          img.slider__pic(src="images/works/work-4.png" alt="Пример работы")
        .slider__info
          h2.sub-title.sub-title--slider Сайт школы онлайн образования
          .slider__info-text html, Css, Javascript
          a.slider__main-link(href="#",target="blanc") Посмотреть сайт
            svg.slider__main-link__svg
              use(xlink:href="images/sprites/symbol/sprite.svg#link")
    ul.slider-nav
      li.slider-nav__items.nav--active
        a.slider-nav__btn(href="#")
      li.slider-nav__items
        a.slider-nav__btn(href="#")
      li.slider-nav__items
        a.slider-nav__btn(href="#")
      li.slider-nav__items
        a.slider-nav__btn(href="#")
  .slider__right
    button.slider__btn.slider__btn--next
      svg.slider__arrow-right
        use(xlink:href="images/sprites/symbol/sprite.svg#arrow_down")
