section.slider
    .slider__desc
        h2.sub-title.sub-title--slider Сайт школы онлайн образования
        .slider__desc-text html, Css, Javascript
        a.slider__main-link(href="#") Посмотреть сайт
            svg.slider__main-link__svg
                use(xlink:href="images/sprites/symbol/sprite.svg#link")
    .slider__view
        img.slider__big-img(src="images/works/work2-1.png")
    .slider__btn
      .slider__btn-left
        ul.slider__list-left
          li.slider__items-left
            img.slider__img(src="images/works/work2-1.png")
          li.slider__items-left
            img.slider__img(src="images/works/work2-2.png")
          li.slider__items-left.slider--active-left
            img.slider__img(src="images/works/work2-3.png")
        button#slider__btn--prev
          svg.slider__svg
            use(xlink:href="images/sprites/symbol/sprite.svg#portf_arrow_down")
      .slider__btn-right
        ul.slider__list-right
          li.slider__items-right
            img.slider__img(src="images/works/work2-1.png")
          li.slider__items-right.slider--active-right
            img.slider__img(src="images/works/work2-2.png")
          li.slider__items-right
            img.slider__img(src="images/works/work2-3.png")
        button#slider__btn--next
          svg.slider__svg
            use(xlink:href="images/sprites/symbol/sprite.svg#portf_arrow_up")
