extends ../template

block variables
    - var title = 'About me'

block content
    .wrapper
        main.main
            include ../common/header.pug
            h1 Далеко-далеко, за словесными.
            p I am
            ul.tech
                li
                    img(src="img/github.svg", alt="")
                li
                    img(src="img/skype.svg", alt="")
                li
                    img(src="img/vk.svg", alt="")