extends ../template

block variables
    - var title = 'Blog'

block content
    .wrapper
        include ../common/header.pug
        main.main
            section.blog
                .triangles
                    .triangles__left
                    .triangles__right
                .blog__left
                    aside.blog-nav
                        ul.blog-nav__list
                            li.blog-nav__items
                                a.blog-nav__link.blog-nav__link--active(href="#") Самое важное в SASS
                            li.blog-nav__items
                                a.blog-nav__link(href="#") Приёмы в вёрстке, без которых не обходится ни один сайт
                            li.blog-nav__items
                                a.blog-nav__link(href="#") Самый необходимый набор Gulp плагинов
                            li.blog-nav__items
                                a.blog-nav__link(href="#") Почему я выбрал Jade
                .blog__right
                    article.article
                        h2.sub-title.sub-title--article Самое важное в SASS
                        .article__date 22 ноября 2016
                        .article__text
                            p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                            p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                            img(src="images/img/article.jpg")
                    article.article
                        h2.sub-title.sub-title--article Приёмы в вёрстке, без которых не обходится ни один сайт
                        .article__date 22 ноября 2016
                        .article__text
                            p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                            p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                            img(src="images/img/article.jpg")
block footer
    include ../common/footer.pug