extends ../template

block variables
    - var title = 'Мои Работы'

block content
    .wrapper
        main.main
            include ../common/header.pug
            h1 Мои Работы
            include ../common/slider.pug