extends ../template

block variables
    - var title = 'Мои Работы'

block content
    .wrapper
        include ../common/header.pug
        main.main#main
            .block-title
                .triangles
                    svg.triangles__svg(xmlns="http://www.w3.org/2000/svg",viewbox="0 0 1000 85",preserveaspectratio="none")
                            polygon.triangles__left.works--triangles-fill(points="0,0 0,86 500.8,86 500.8,75.5")
                            polygon.triangles__right.works--triangles-fill(points="1000,0 1000,86 500,86 500,75.5")
                img.block-title__img(src="images/svg/works_header.svg")
                h1.main-title Мои работы
            include ../common/slider3.pug
            .block-title.block-title--bg-white
                img.block-title__img(src="images/svg/about_header.svg")
                h2.main-title Что обо мне<br>говорят
            section.reviews
                .reviews__blur-bg
                    img.reviews__blur-bg-img(src="images/bg-works2.jpg")
                .reviews__top
                    .comment
                        .comment__text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
                        .comment__info
                            .comment__img
                                .comment__pic
                                    img.comment__avatar(src="images/img/user-1.jpg")
                            .comment__author
                                .comment__name Ковальчук Дмитрий
                                .comment__job основатель Loftschool
                    .comment
                        .comment__text Этот код выдержит любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!
                        .comment__info
                            .comment__img
                                .comment__pic
                                    img.comment__avatar(src="images/img/user-2.jpg")
                            .comment__author
                                .comment__name Сабанцев Владимир
                                .comment__job преподаватель
                .reviews__center
                    .reviews__content
                        .reviews__blur
                        .feedback
                            h2.sub-title.sub-titel--margin Связаться со мной
                            form.feedback-form#feedback(method="post",action="mail.php")
                                .feedback-form__block
                                    input.feedback-form__input(type="text",name="name",placeholder="Имя")
                                    input.feedback-form__input(type="text",name="email",placeholder="Email")
                                    textarea.feedback-form__textarea(name="text",placeholder="Ваше сообщение")
                                .feedback-btn
                                    input.feedback-btn__input(type="submit",name="submit",value="Отправить")
                                    input.feedback-btn__input(type="reset",value="Очистить")
                .reviews__bottom
                    a.arrow-up__link(href="#header")
                        svg.arrow-up__svg
                            use(xlink:href="images/sprites/symbol/sprite.svg#portf_arrow_up")
block footer
    include ../common/footer.pug
