.welkome--fon {
    background: url('../images/bg-index.jpg') top center no-repeat;
    background-size: cover;
    position: relative
}
.login-btn {
    font-family: 'Roboto';
    font-size: 16px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 10px 25px;
    color: #fff;
    cursor: pointer;
    position: absolute;
    top: 25px;
    right: 100px;

    &:hover {
        background: #fff;
        color: $mintBlue;
    }
}

.authorship {
    width: 100%;
    padding: 0 20px;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 200;
    color: #fff;
    text-align: center;
    position: absolute;
    bottom: 40px;
}