/* entire container, keeps perspective */
.flip-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

  perspective: rem(1000px);
}

.flipper--active {
    transform: rotateY(180deg);
}

.flip-container, .front, .back {
	width: rem(380px);
    height: rem(400px);
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}

.main--welkome {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // align-items: center;
}
.welkome__top,
.welkome__center,
.welkome__bottom {
  position: relative;
  width: 100%;
}
.welkome__center {
  min-height: rem(400px);
}
.welkome__top {
  text-align: right;
  margin-bottom: rem(20px);
  @include phones {
      text-align: center;
  }
}
.welkome__bottom {
  text-align: center;
  margin-top: rem(20px);
}

.parallax {
    position: relative;
    overflow: hidden;

    &__layer {
        position: absolute;
        top: -10%;
        left: -10%;
        width: 120%;
        height: 120%;
        overflow: hidden;
    }

}
.parallax__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    min-width: rem(1800px);
}

.login-btn {
    font-family: 'RobotoRegular';
    font-size: rem(16px);
    background: transparent;
    border: 1px solid #fff;
    border-radius: rem(4px);
    padding: rem(10px) rem(25px);
    color: #fff;
    cursor: pointer;
    margin: rem(25px) rem(100px) 0 0;
    transition: all .4s ease;

    @include phones {
        padding: rem(12px) rem(25px);
        margin: rem(25px) auto 0 auto;
    }

    &:hover {
        background: #fff;
        color: $mintBlue;
    }

}

.authorship {
    padding: 0 rem(20px);
    font-family: 'RobotoRegular';
    font-size: rem(16px);
    font-weight: 200;
    color: #fff;
    text-align: center;
    margin-bottom: rem(40px);
}
