.footer {
    background: rgba(55, 62, 66, .85);
    height: rem(140px);
    width: 100%;
    font-family: 'RobotoRegular';
    font-size: rem(16px);
    color: #fff;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: rem(-140px);
    @include tablets {
        height: rem(240px);
        margin-top: rem(-240px);
    }
}

.footer__top,
.footer__bottom {
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 rem(30px);
    @include tablets {
        flex-direction: column;
        justify-content: center;
    }
    @include phones {
        height: auto;
        flex-grow: 1;
        padding: 0 rem(20px);
    }
    @include mphones {
        padding: 0 rem(10px);
    }
}
.footer__top {
    border-bottom: 1px solid rgba(255, 255,255, .1);
}

.footer-nav {
    display: flex;
    flex-direction: row;

    &__items {
        margin-right: rem(30px);
        @include phones {
            margin-right: rem(10px);
        }
    }
    &__link:hover {
        color: #fff;
        transition:all .3s;
    }
    &__link:hover {
        color: $mintBlue;
    }
    @include tablets {
        margin-bottom: rem(15px);
    }
}

.footer-socials {
    display: flex;
    flex-direction: row;
    justify-content: center;

    &__items {
        margin-left: rem(10px);
        &:first-child {
            margin-left: 0;
        }
    }
    &__svg {
        fill: #fff;
        display: block;
        position: absolute;
        width: rem(17px);
        height: rem(17px);
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    &__link {
        border: rem(2px) solid #fff;
        border-radius: 50%;
        position: relative;
        width: rem(36px);
        height: rem(36px);
        opacity: .5;
        transition:all .4s ease;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
            opacity: 1;
            background: #fff;
        }
        &:hover .footer-socials__svg {
            fill: rgba(55, 62, 66, .8);//#373e42
        }
    }
}

.footer__text-left,
.footer__text-right {
    width: rem(500px);
    font-size: rem(16px);
    font-weight: 200;
    opacity: .5;
    @include tablets {
        text-align: center;
        width: 100%;
    }
}
.footer__text-right {
    text-align: right;
    @include tablets {
        margin-top: 20px;
        text-align: center;
    }
}
