.header {
    background: url('../images/bg-header.jpg') top center no-repeat;
    background-size: cover;
    background-color: rgba(01,66,72,.4);
    background-blend-mode: screen;
    height: 600px;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header__top,
.header__center,
.header__bottom {
    // border: 1px solid red;
}

.header__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 30px 0 30px;
}
.nav-btn {
    width: 40px;
    height: 36px;
    cursor: pointer;

    &__img {
        height: 100%;
    }
}

.header__center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.author-info {
    text-align: center;
    font-family: 'Roboto';
    font-size: 35px;
    // outline: 1px solid green;
    color: #fff;

    h1 {
        font-size: 35px;
        letter-spacing: 1px;
        margin: 20px 0 0;
        text-shadow: 0 0 1px #000;
    }
    p {
        font-weight: 200;
        font-size: 16px;
        opacity: .8;
        margin: 0;
    }
}