.header {
    background: url('../images/bg-header.jpg') top center no-repeat;
    background-size: cover;
    background-color: rgba(01,66,72,.4);
    background-blend-mode: overlay;
    height: rem(600px);
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header__top,
.header__center,
.header__bottom {
    // border: 1px solid red;
}

.header__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: rem(30px) rem(30px) 0 rem(30px);
}
.header--social-svg {
    fill: #fff;
}

.header__center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.author-info {
    text-align: center;
    font-family: 'RobotoRegular';
    font-size: rem(35px);
    // outline: 1px solid green;
    color: #fff;

    h2 {
        font-size: rem(35px);
        letter-spacing: rem(1px);
        margin: rem(20px) 0 0;
    }
    p {
        font-weight: 200;
        font-size: rem(16px);
        opacity: .8;
        margin: 0;
        color: #fff;
    }
}

.header__bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: rem(70px);
}
.arrow-down__link {
    display: inline-block;
    opacity: .7;
    transition: opacity .3s ease;
    z-index: 70;

    &:hover {
        opacity: 1;
    }
}
.arrow-down__svg {
    width: rem(26px);
    height: rem(16px);
    fill: #fff;
    display: block;
}


// Full screen Menu
.nav-btn {
    display: inline-block;
    cursor: pointer;
    padding: 0;
    z-index: 91;
    position: relative;
    width: rem(38px);
    height: rem(28px);
    opacity: .5;
    transition: opacity .3s ease;
    &:hover {
      opacity: 1;
    }
    &__line {
      background: #fff;
        width: 100%;
        height: rem(4px);
        position: absolute;
        top: 0;
        left: 0;
        border-radius: rem(2px);
        transition: all .5s ease;

    }
    &__line-02 {
      top: rem(12px);
    }
    &__line-03 {
      top: rem(24px);
    }

    &--active &__line-02{
      opacity: 0;
    }
    &--active &__line-01 {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
    }
    &--active &__line-03 {
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%) rotate(-45deg);
    }
    &--active {
      overflow: hidden;
    }
}
.hamburger {
    position: relative;
    outline: 1px solid black;
}
.hamburger-nav {
    background: rgba(0, 191, 165, .9);
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 90;
}
.hamburger-nav__list {
    // height: 0;
    // overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.hamburger-nav__items {
    margin-top: rem(80px);
    @include mphones {
        margin-top: rem(60px);
    }
    @include minHeight {
        margin-top: rem(20px);
    }
}

.hamburger-nav__link {
    font-family: 'Bernier';
    font-size: rem(63px);
    display: inline-flex;
    flex-direction: row;
    align-items: center;

    @include minHeight {
        font-size: rem(42px);
    }

&::before ,&::after {
    content: '';
    display: block;
    width: rem(22px);
    height: rem(5px);
    background: #fff;
    opacity: 0;
    transition: opacity .6s ease;
}
&::before {
    margin-right: rem(20px);
}
&::after {
    margin-left: rem(20px);
}

&:hover {
    &::before ,&::after {
    opacity: 1;
    }
}

}
