.skills {

    &__items {
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include tablets {
            align-items: center;
            width: 100%;
        }
    }
    &__title {
        font-family: 'RobotoBold';
        font-size: rem(28px);
        color: $textColor;
        margin-bottom: rem(15px);
    }
}
.circles {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;

    @include tablets {
        justify-content: center;
    }

    &__items {
        position: relative;
        height: rem(110px);
        width: rem(110px);
        margin-right: rem(35px);
        margin-bottom: rem(35px);

        display: flex;
        justify-content: center;
        align-items: center;

    }
    &__svg {
        fill: none;
        stroke-width: 20;
        width: 100%;
    }
    &__svg-first {
        stroke: #dfdcd5;
    }
    &__svg-second {
        stroke: $mintBlue;
        stroke-dasharray: .0010 282.6;
        opacity: 0;
        transition: all .8s;
    }

    &__text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        color: $mintBlue;
        font-family: 'RobotoRegular';
        font-size: rem(14px);
        font-weight: medium;
    }
}

.circles__svg .circle-0 {
    stroke-dasharray: .001 282.6;
    opacity: 0;
}
.circles__svg .circle-10 {
    stroke-dasharray: 28.26 282.6;
    opacity: .1;
}
.circles__svg .circle-15 {
    stroke-dasharray: 42.39 282.6;
    opacity: .15;
}
.circles__svg .circle-20 {
    stroke-dasharray: 56.52 282.6;
    opacity: .20;
}
.circles__svg .circle-25 {
    stroke-dasharray: 70.65 282.6;
    opacity: .25;
}
.circles__svg .circle-30 {
    stroke-dasharray: 84.78 282.6;
    opacity: .3;
}
.circles__svg .circle-35 {
    stroke-dasharray: 98.91 282.6;
    opacity: .35;
}
.circles__svg .circle-40 {
    stroke-dasharray: 113.04 282.6;
    opacity: .4;
}
.circles__svg .circle-45 {
    stroke-dasharray: 127.17 282.6;
    opacity: .45;
}
.circles__svg .circle-50 {
    stroke-dasharray: 141.3 282.6;
    opacity: .5;
}
.circles__svg .circle-55 {
    stroke-dasharray: 155.43 282.6;
    opacity: .55;
}
.circles__svg .circle-60 {
    stroke-dasharray: 169.56 282.6;
    opacity: .6;
}
.circles__svg .circle-65 {
    stroke-dasharray: 183.69 282.6;
    opacity: .65;
}
.circles__svg .circle-70 {
    stroke-dasharray: 197.82 282.6;
    opacity: .7;
}
.circles__svg .circle-75 {
    stroke-dasharray: 211.95 282.6;
    opacity: .75;
}
.circles__svg .circle-80 {
    stroke-dasharray: 226.08 282.6;
    opacity: .8;
}
.circles__svg .circle-85 {
    stroke-dasharray: 240.21 282.6;
    opacity: .85;
}
.circles__svg .circle-90 {
    stroke-dasharray: 254.34 282.6;
    opacity: .9;
}
.circles__svg .circle-95 {
    stroke-dasharray: 268.47 282.6;
    opacity: .95;
}
.circles__svg .circle-100 {
    stroke-dasharray: 282.6 282.6;
    opacity: 1;
}
