
.slider {
  height: rem(750px);
  display: flex;
  flex-direction: row;
  background: $bg;
  @include tablets {
    height: 100vh;
  }
}

.slider__left, .slider__right {
  width: rem(90px);
  position: relative;
  @include tablets {
    width: rem(70px);
  }
  @include phones {
    width: rem(50px);
  }
}
.slider__btn {
  color: black;
  width: rem(30px);
  height: rem(30px);
  margin: 0;
  padding: 0;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 10;
  cursor: pointer;
}
.slider__arrow-left {
  transform: rotate(90deg);
}
.slider__arrow-right {
  transform: rotate(-90deg);
}
.slider__arrow-left,
.slider__arrow-right {
  fill: $mintBlue;
  height: 100%;
  width: 100%;
}
.slider__center {
  flex-grow: 1;
  position: relative;
  overflow: hidden;
}
.slider__list {
  width: 100%;
  height: 100%;
  white-space: nowrap;
  position: absolute;
  font-size: 0;
}
.slider__items {
  width: 100%;
  height: 100%;
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0;
  @include tablets {
    flex-direction: column-reverse;
    justify-content: flex-start;
  }
}
.slider__image,
.slider__info {
  width: 50%;
  @include tablets {
    width: 100%;
  }
}
.slider__info {
  padding-left: 8%;
  padding-right: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  @include tablets {
    flex-grow: 1;
    width: 100%;
    padding: 0 10%;
    align-items: center;
  }
}
.slider__image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider__pic {
  width: 65%;
  display: block;
  margin: 0;
  @include screen1280 {
    width: 100%;
  }
  @include tablets {
    width: 87%;
  }
  @include mphones {
    width: 95%;
  }

}

.slider__info-text {
  border-top: 1px solid rgba(0,150,136, .3);
  border-bottom: 1px solid rgba(0,150,136, .3);
  color: #20b5a1;
  text-align: left;
  font-size: rem(16px);
  width: 100%;
  padding: rem(20px) 0;
  margin: rem(40px) 0;
  text-transform: uppercase;
  @include tablets {
    margin: rem(25px) 0;
    text-align: center;
  }
}
.sub-title--slider {
  white-space: normal;
  &::before, &::after {
    content: none;
  }
}
.slider__main-link {
  background: $mintBlue;
  padding: rem(13px) rem(20px);
  border-radius: rem(3px);
  font-family: 'RobotoBold';
  font-size: rem(16px);

  display: inline-flex;
  flex-direction: row-reverse;
  justify-content: center;
  transition: all .3s ease;

  &:hover {
    background: $DmintBlue;
  }
  &__svg {
    height: rem(19px);
    width: rem(20px);
    margin-right: rem(10px);
    fill: #fff;
  }
}

.slider-nav {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.slider-nav__items {
  margin-right: 20px;
  &:last-child {
    margin-right: 0;
  }
}
.nav--active .slider-nav__btn {
  background: $mintBlue;
}
.slider-nav__btn {
  width: 11px;
  height: 11px;
  display: block;
  background: #fff;
  border: 2px solid $mintBlue;
  border-radius: 50%;
  cursor: pointer;
  transition: all .3s;

  &:hover {
    background: $mintBlue;
  }
}
// .slider-nav__btn--active {
//   background: $mintBlue;
// }
