.welkome {
    // background: rgba(255,255,255, .8);
    height: 100%;
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
}

.about-me {
    // display: none;
    width: 380px;
    height: 400px;
    

    // position: absolute; /* Абсолютное позиционирование */
    // top: 0; bottom: 0; /* Задаём так равную высоту */
    // transition: 1s;
}
.welkome__cont {
    background:rgba(255,255,255, .8);
    padding: 40px;
    text-align: center;
    color: $textColor;

    h1 {
        font-family: 'Roboto';
        font-size: 28px;
        margin: 10px 0 0;
    }
    p {
        margin-bottom: 40px;
        font-family: 'Roboto';
        font-size: 16px;
    }
}

.welkome__img {
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
    // outline: 1px solid green;
}
.welkome__pic {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}
.welkome__ava {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.socials {
    display: flex;
    flex-direction: row;
    justify-content: center;

    &__items {
        margin-left: 25px;
        &:first-child {
            margin-left: 0;
        }
    }
    &__svg {
        fill: $mintBlue;
        width: 35px;
        height: 25px;
        display: block;
    }

    &__link {
        width: 35px;
        height: 25px; 
        display: inline-block;
        opacity: .5;
        transition:all .3s ease;
        &:hover{
            opacity: 1;
        }
    }
}


.menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    &__items {
        flex-grow: 1;
        background: rgba(0,191,165, .8);
        border-right:2px solid #6fd1c6;
        transition: all .3s ease;
        text-align: center;
        &:last-child {
            border-right: none;
        }
        &:hover{
            background: rgba(0,150,136, .8);
        }
    }
    &__link {
        font-family: 'Roboto';
        font-size: 16px;
        font-weight: 500;
        padding: 13px 0;
        display: block;
        white-space: nowrap;
    }
}