.welkome {
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
}
.welkome__cont {
    background:rgba(255,255,255, .85);
    padding: 40px;
    text-align: center;
    color: $textColor;

    h1 {
        font-family: 'Roboto';
        font-size: 28px;
        margin: 10px 0 0;
    }
    p {
        margin-bottom: 40px;
        font-family: 'Roboto';
        font-size: 16px;
    }
}

.welkome__img {
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.welkome__pic {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}
.welkome__ava {
    height: 100%;
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.socials {
    display: flex;
    flex-direction: row;
    justify-content: center;

    &__items {
        margin-left: 25px;
        &:first-child {
            margin-left: 0;
        }
    }
    &__svg {
        fill: $mintBlue;
        width: 35px;
        height: 25px;
        display: block;
    }

    &__link {
        width: 35px;
        height: 25px; 
        display: block;
        opacity: .5;
        transition:all .3s ease;
        &:hover{
            opacity: 1;
            transform: scale(1.1);
        }
    }
}


.menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    opacity: .85;

    &__items {
        background: $mintBlue;
        border-right:2px solid #6fd1c6;
        transition: all .3s ease;
        &:last-child {
            border-right: none;
        }
        &:hover{
            background: $DmintBlue;
        }
    }
    &__link {
        font-family: 'Roboto';
        font-size: 16px;
        font-weight: 500;
        padding: 10px 32px;
        display: block;
        white-space: nowrap;
    }
}